.proj4subpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px 0px 0px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 60px 0px;
  width: 100%;
}

.proj4subpage img {
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  cursor: pointer;
  width: 33%;
}

.proj4subpage img:hover {
  opacity:0.7;
}

.proj4subpage iframe {
  padding: 10px 0px 30px 0px;
  border-radius: 15px;
  cursor: pointer;
}

.proj4subpage button {
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  cursor: pointer;
  width: 33%;
  color: red;
}

#secret {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
}

.site-content-subpage {
  margin: 40px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-groupings {
  width: 100%;
  height: auto;
  padding: 0px 0px 5px 0px;
}

.content-groupings-subhead {
  width: 65%;
  height: auto;
  padding: 0px 0px 5px 0px;
  justify-content: center;
}

.proj4subpage h1 {
  color: #ffffff;
  font-family: "nikkyouSans";
  font-size: 32px;
  font-weight: normal;
  padding: 0px 0px 8px 0px;
}

.proj4subpage p {
  color: #ffffff;
  font-family: "courierNew";
  font-size: 17px;
  text-indent: 30px;
  padding: 0px 0px 8px 0px;
}

.img-holder-subpage {
  flex-direction: row;
  justify-content: center;
}

.spacer {
  height: 20px;
}

@media screen and (max-width: 480px) {
  #site-content {
    margin: 40px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #left-side {
    padding: 0px 10px 0px 10px;
  }

  #right-side {
    padding: 0px 10px 0px 10px;
  }
}