#rockpage-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px 0px 0px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 60px 0px;
  width: 100%;
}

#rockpage-page img {
  padding: 10px 0px 10px 0px;
  border-radius: 15px;
  cursor: pointer;
}

#secret {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
}

#site-content {
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

#left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px 30px 0px 10px;
  gap: 35px;
}

#right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px 10px 0px 30px;
  gap: 35px;
}

.content-groupings {
  width: 100%;
  height: auto;
  padding: 0px 0px 5px 0px;
}

#rockpage-page h1 {
  color: #ffffff;
  font-family: "nikkyouSans";
  font-size: 32px;
  font-weight: normal;
  padding: 0px 0px 8px 0px;
}

#rockpage-page p {
  color: #ffffff;
  font-family: "courierNew";
  font-size: 17px;
  text-indent: 30px;
  padding: 0px 0px 8px 0px;
}

.img-holder {
  position: relative;
}

.img-holder button {
  position: absolute;
  bottom: 42%;
  width: 20px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border-radius: 15px;
  filter: drop-shadow(0 0 #000000);
}

.leftie {
  left: 0px;
}

.rightie {
  right: 0px;
}

@media screen and (max-width: 480px) {
  #site-content {
    margin: 40px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #left-side {
    padding: 0px 10px 0px 10px;
  }

  #right-side {
    padding: 0px 10px 0px 10px;
  }
}